/* ----- NAVBAR COMPONENT ------------------------------ */
/* ----------------------------------------------------- */


.header-box {
    display: flex;
    align-items: center;
    /* background-color: #f8f8f8; */
    /* min-height: 4rem; */
}

.header-box.scrolled {
    background-color: #905000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease !important;
}

.navigation-box {
    flex: 1;
}

.navigation-box .prim-nav {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin: 0;
}

.nav-item>a {
    color: white;
}

.sec-nav-toggler {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease !important;
}

.sec-nav-toggler.visible {
    transform: rotate(90deg);
    z-index: 3;
    position: relative;
}

.sec-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease !important;
    background-color: #f0f0f0;
}

.sec-nav.visible {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

.sec-nav>ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}