/* ----- GLOBAL ---------------------------------------- */
/* ----------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}

/* ----- NAVBAR COMPONENT ------------------------------ */
/* ----------------------------------------------------- */
.navigation-box .prim-nav {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.header-box {
    display: flex;
    align-items: center;
}

.navigation-box {
    flex: 1;
}

.sec-nav-shade.visible {
    width: 100%;
    height: 100%;
    /* background: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sec-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease !important;
}

.sec-nav.visible {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

.sec-nav-toggler {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease !important;
}

.sec-nav-toggler.visible {
    transform: rotate(90deg);
}

/* ----- IMAGE SLIDER COMPONENT ------------------------ */
/* ----------------------------------------------------- */
.image-slides {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    /* hide scrollbar on firefox */
    scroll-behavior: smooth;
}

.image-slides::-webkit-scrollbar {
    display: none;
    /* hide scrollbar on Chrome, Safari, and Opera */
}

/* ----- SERVICES PPAGE -------------------------------- */
/* ----------------------------------------------------- */
.service-cards {
    display: flex;
    flex-wrap: wrap;
}