/* ----- GLOBAL ---------------------------------------- */
/* ----------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}


.page-header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* ----- SERVICES PAGE --------------------------------- */
/* ----------------------------------------------------- */

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.service-card-component {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 1rem;
}


/* ----- SERVICES DETAILS PAGE --------------------------------- */
/* ----------------------------------------------------- */

.hero-section {
    background-color: #000;
    color: white;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}